/*
 * @Author: Teaism 
 * @Date: 2018-06-04 17:13:17 
 * @Last Modified by: Teaism
 * @Last Modified time: 2018-06-05 18:00:09
 */

$mcolor: #58a634;
$pcolor: #e4e4e4;

// 背景图片地址和大小
@mixin bis($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

//定位全屏
@mixin allcover {
  position: absolute;
  top: 0;
  right: 0;
}

//定位上下左右居中
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//定位垂直居中
@mixin vt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//定位水平居中
@mixin hz {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

//宽高
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

//字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {
  font: #{$size}/#{$line-height} $family;
}

//块背景色、字体颜色
@mixin bgc($background, $fontColor) {
  background: $background;
  color: $fontColor;
}

//字体大小，颜色
@mixin fontsc($size, $color) {
  font-size: $size;
  color: $color;
}

//flex 布局和 子元素 对其方式
@mixin fj($type: space-between) {
  display: flex;
  justify-content: $type;
}
