/*
 * @Author: Teaism 
 * @Date: 2018-06-22 17:38:40 
 * @Last Modified by: Teaism
 * @Last Modified time: 2018-08-15 11:38:44
 */
 
/*reset*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,img,div,dl,dt,dd,input { margin:0; padding:0; }
body {font:14px/1.5  "Microsoft YaHei";}
input, select, textarea { outline:none; border:none; background:none; }
img { border:none; }
li { list-style:none;}
a,a:hover,a:focus { text-decoration: none;}
.clearfix:before,
.clearfix:after {content:""; display:block; clear:both;}
.clearfix { *zoom:1; }
.fl { float: left; }
.fr { float: right; }
i,span,em,img,a {font-style: normal; font-weight: normal;} 
.fz12 {font-size: 12px!important;}
.fz16 {font-size: 16px!important;}
.text-justify {
    overflow: hidden;
    text-align: justify;
    text-align-last: justify;
}
.text-justify:after{
    display: inline-block;
    content: '';
    // width: 100%;
    height: 0;
    overflow: hidden;
    line-height: 1.8;
}
* {
    box-sizing: border-box;
}
a {color: #000;}

