/*
 * @Author: Teaism 
 * @Date: 2018-08-15 10:14:54 
 * @Last Modified by: Teaism
 * @Last Modified time: 2018-08-15 16:25:23
 */
 
//  主色块颜色
$mainBlockColor: #46aa1d;

// 主字体颜色
$mainFontColor: #42991c;
// 默认字体颜色
$defaultFontColor: #333;
// 链接蓝色字体
$linkBlueFontColor: #1375c9;

// 边框主体色
$mainBorderColor: #46aa1d;
// 默认边框色
$defaultBorderColor: #ddd;
