@import '../../assets/scss/reset';
@import '../../assets/scss/common';
@import '../../assets/scss/mixin';

.cus-content {
  width: 1200px;
  text-align: center;
  overflow: hidden;
  img {
    max-width: 1200px;
    height: auto
  }
}
