/*
 * @Author: Teaism 
 * @Date: 2018-06-22 17:39:05 
 * @Last Modified by:   Teaism 
 * @Last Modified time: 2018-06-22 17:39:05 
 */
@import '../../assets/scss/mixin';

.cus-content {
  width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
  img {
    max-width: 1200px;
    height: auto
  }
}
