/*
 * @Author: Teaism 
 * @Date: 2018-06-22 17:39:27 
 * @Last Modified by:   Teaism 
 * @Last Modified time: 2018-06-22 17:39:27 
 */
@import '../../assets/scss/mixin';

  body {
    background: #f6f7f6;
  }
  // 商品列表
  ul[class^="goods-item"] {
    margin-top: 30px;
    font-size: 0;
  }
  .goodsList {
    display: inline-block;
    background: #fff;
    box-shadow: 0 0 10px 5px #eee;
    @include wh(278px, 382px);
    margin-bottom: 25px;
    margin-right: 29px;
    padding: 7px;
    border: 2px solid #fff;
    text-align: center;
    &:nth-child(4n) {
      margin-right: 0;
    }
    &:hover {
      border-color: #4bb21e;
    }
    .goods-video,
    .goods-img {
      @include wh(260px, 188px);
    }
    .goods-title {
      @include wh(100%, 66px);
      @include fontsc(18px, #333);
      line-height: 66px;
      font-weight: 400;
      overflow: hidden;
    }
    .goods-des {
      @include wh(100%, 48px);
      margin-bottom: 26px;
      @include fontsc(15px, #999);
      overflow: hidden;
      text-align: left;
      line-height: 26px;
    }
    .goods-more {
      @include wh(100%, 38px);
      margin-top: 14px;
      @include bgc(#f1f1f1, #999);
      @include font(14px, 38px);
    }
  }

 .bannerwrap {
  background: #458c27;
  .swiper-slide {
    width: auto;
    height: 460px;
    overflow: hidden;
    text-align: center
  }
  
  .swiper-slide img {
    width: auto;
    height: 460px
  }
}


