/*
 * @Author: Teaism 
 * @Date: 2018-06-08 18:39:29 
 * @Last Modified by: Teaism
 * @Last Modified time: 2018-08-17 17:13:03
 */

 @import '../../assets/scss/mixin';
 @import '../../assets/scss/variable';

.content {
  width: 1200px;
  margin: 0 auto;
}
.mapwrap {
  position: relative;
}

#mapDiv {
  width: 1200px;
  height: 600px;
}
.search {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 250px;
  height: 36px;
  background: #fff;
}

#suggestId {
  width: 250px!important;
  height: 36px;
  border: 1px solid #ddd;
  vertical-align: middle;
  text-indent: 20px;
  font-size: 15px; 
}

.dl-form {
  width: 510px;
  margin: 50px auto 0;
  font-size: 15px;

  h2 {
    width: 100%;
    margin-bottom: 50px;
    @include fontsc(18px, #333);
    text-align: center;
  }
  .form-item {
    position: relative;
    margin-top: 10px;
    overflow: hidden
  }
  .form-label {
    display: inline-block;
    width: 120px;
    height: 36px;
    margin-right: 16px;
    vertical-align: middle;
    line-height: 36px;
    text-align: right;
    color: #033
  }
  .form-input,
  .form-textarea {
    border: 1px solid #ddd;
    vertical-align: middle;
    text-indent: 20px;
    font-size: 15px
  }
  .form-input {
    width: 360px;
    height: 36px
  }
  .form-textarea {
    width: 358px;
    height: 120px;
    font-family: Microsoft YaHei;
    resize: none
  }
  .input-error {
    position: absolute;
    left: 160px;
    top: calc(50% - 9px);
    background: #ddd;
    font-size: 12px;
    color: red
  }
  .form-submits {
    margin-left: 250px
  }
  .form-submit {
    width: 100px;
    height: 42px;
    margin-top: 30px;
    background: #58a634;
    color: #fff;
    line-height: 42px;
    font-size: 15px;
    cursor: pointer
  }
  &::placeholder {
    color: red
  }
  .hd0 {
    height: 0;
    overflow: hidden
  }
}